body{
    
}

.header{
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.links, a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
 .headercontent{
     display: flex;
     justify-content: space-evenly;
 }

.hero{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 100px ;
    
}
.awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8

}

.bttnheader{
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    border: #3882f6 solid;
    
}

.image{
    display: flex;
    background-color: #969696 ;
    padding: 30px 300px;
    align-items: center;
    height: 300px;
    margin-bottom: 100px
}

.body{

}

.main{

}

.squares{

}

.sqr{

}

.quote{

}

.text{

}

.thor{

}

.signup{

}

.action{

}

.bttnbody{

}

.footer{

}

